<nav class="flex justify-center space-x-4">
  <a [routerLink]="'/home'"
    class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
  <a [routerLink]="'/details'"
    class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Detalhes</a>
  <a href="/projects"
    class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Projects</a>
  <a href="/reports"
    class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Reports</a>
</nav>

 
<app-poke-search></app-poke-search>
<router-outlet/>

<!-- 
<app-home></app-home>
<app-details></app-details> -->