<mat-card>
    <div class="bg-indigo-50  ...">
        <img class="float-none object-center  ..." src="https://i.imgur.com/WWbYezj.jpg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum error, magnam excepturi minima voluptatibus reprehenderit maiores alias, consequatur perferendis corrupti, itaque ducimus doloremque? Officia quis officiis amet quia facere at! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, optio? Corporis atque facilis fuga ex suscipit ullam pariatur in obcaecati modi nihil, quo eligendi consequatur sit voluptate asperiores sint assumenda. ...</p>
    </div>

    <mat-card-header>
        <div>
            <h2>Categories</h2>
            <ul
                class="*:rounded-full *:border *:border-sky-100 *:bg-sky-50 *:px-2 *:py-0.5 dark:text-sky-300 dark:*:border-sky-500/15 dark:*:bg-sky-500/10 ...">
                <li>All</li>
                <li>Woman</li>
                <li>Man</li>
                <li>Accessories</li>
                <li>Kids</li>
            </ul>
        </div>

        <div class="columns-6 grid gap-4 grid-cols-4 grid-rows-4...">
            <img class="w-full aspect-square ..." src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" />
            <img class="w-full aspect-square ..."
                src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" />
            <img class="w-full aspect-square ..." src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" />
            <img class="w-full aspect-square ..."
                src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" />
            <img class="w-full aspect-square ..." src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" />
            <img class="w-full aspect-square ..."
                src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" />
        </div>
    </mat-card-header>
</mat-card>