<mat-card>
    <div>
        <h3 class="text-4xl text-center "> Blazer long sleeve</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eveniet quis consequatur repudiandae.
            Maxime odio corrupti minus inventore deserunt eaque laborum non maiores expedita labore tenetur nobis, fugit
            quo delectus. </p>
            <b>$30,00</b>
            
            <div>
                <h2>Categories</h2>
                <ul class="*:rounded-full *:border *:border-sky-100 *:bg-sky-50 *:px-2 *:py-0.5 dark:text-sky-300 dark:*:border-sky-500/15 dark:*:bg-sky-500/10 ...">
                  <li>Sales</li>
                  <li>Marketing</li>
                  <li>SEO</li>
                  <!-- ... -->
                </ul>
              </div>


              <!-- <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
                <div class="md:flex">
                  <div class="md:shrink-0">
                    <img class="h-48 w-full object-cover md:h-full md:w-48" src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="Modern building architecture">
                  </div>
                  <div class="p-8">
                    <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
                    <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Incredible accommodation for your team</a>
                    <p class="mt-2 text-slate-500">Looking to take your team away on a retreat to enjoy awesome food and take in some sunshine? We have a list of places to do just that.</p>
                  </div>
                </div>
              </div> -->

              <!-- <form>
                <img src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" />
                  <h3>Basic Tee</h3>
                  <h3>$35</h3>
                  <fieldset>
                    <legend class="sr-only">Choose a color</legend>
                    <div class="forced-color-adjust-none ...">
                      <label >
                        <input class="sr-only" type="radio" name="color-choice" value="White" />
                        <span class="sr-only">White</span>
                        <span class="size-6 rounded-full border border-black border-opacity-10 bg-white"></span>
                      </label>
                    </div>
                  </fieldset>
              </form> -->

    </div>
</mat-card>